<div id="copyrights" class="row">

  <span class="col-md-1"></span>
  <div class="col-md-5 ">
    <p>Copyrights © 2014 All Rights Reserved by Canvas Inc</p>
    <p>Terms of Use / Privacy Policy</p>
  </div>
  <div class="col-md-5" id="contact">

    <a class="fa fa-facebook"></a>
    <a class="fa fa-twitter"></a>
    <a class="fa fa-google-plus"></a>
    <a class="fa fa-vimeo-square"></a>
    <a class="fa fa-pinterest"></a>
    <a class="fa fa-github"></a>
    <a class="fa fa-linkedin"></a>
    <br>

    <p><i class="fa fa-envelope-o"></i> info@canvas.com · <i class="fa fa-headphones"></i> +91-11-6541-6369 · <i class="fa fa-skype"></i>      CanvasOnSkype</p>
  </div>

  <span class="col-md-1"></span>

</div>
