<!--Footer-->
<div class="container-fluid">
  <div class="footer row">
    <span class="col-md-1"></span>

    <!--Contact-->
    <div class="col-md-2" id="contact">
      <img id="footer-logo" src="../../assets/img/footer-logo.png" />
      <p>We believe in Simple, Creative & Flexible Design Standards.</p><br>
      <p>Headquarters:<br>795 Folsom Ave, Suite 600<br>San Francisco, CA 94107</p><br>
      <p>Phone: (91) 8547 632521<br>Fax: (91) 11 4752 1433<br>Email: info@canvas.com</p><br>
    </div>

    <!--Blogroll-->
    <div class="col-md-3" id="blogroll">
      <h4>BLOGROLL</h4>
      <ul>
        <li>Documentation</li>
        <li>Feedback</li>
        <li>Plugins</li>
        <li>Support Forums</li>
        <li>Themes</li>
        <li>WordPress Blog</li>
        <li>WordPress Planet</li>
      </ul>
    </div>

    <!--Recent-->
    <div class="col-md-2" id="recent">
      <h4>RECENT POSTS</h4>
      <h6>Lorem ipsum dolor sit amet, consectetur</h6>
      <p>10th July 2014</p>
      <div id="seperate"></div>
      <h6>Elit Assumenda vel amet dolorum quasi</h6>
      <p>10th July 2014</p>
      <div id="seperate"></div>
      <h6>Debitis nihil placeat, illum est nisi</h6>
      <p>10th July 2014</p>
      <div id="seperate"></div>
    </div>

    <!--Connect-->
    <div class="col-md-3">
      <div class="row" id="connect">
        <div class="row" id="stats">
          <div class="col-md-6" id="downloads">15,065,421</div>
          <div class="col-md-6" id="clients">18,465</div>
          <div class="col-md-6" id="downloads-t">TOTAL DOWNLOADS</div>
          <div class="col-md-6" id="clients-t">CLIENTS</div>
        </div>

        <div class="col-md-12" id="newsletter">
          <p><a>Subscribe</a> to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:</p>
        </div>


        <div class="col-md-12 row" id="email-pane">
          <div id="envelope" class=""><i class="fa fa-envelope-o" aria-hidden="true"></i></div><input id="email" type="text" placeholder="Enter Your Email"
            aria-label="Email"><a id="subscribe" href="">Subscribe</a>
        </div>
        <div class="col-md-12 row" id="link-pane">
          <div class="col-md-6 row link"><a class="fa fa-facebook" id="facebook"></a>
            <h6>Like Us<br>on Facebook</h6>
          </div>
          <div class="col-md-6 row link"><a class="fa fa-rss" id="rss"></a>
            <h6>Subscribe<br>to RSS Feeds</h6>
          </div>
        </div>

      </div>

    </div>
    <span class="col-md-1"></span>
  </div>
</div>
