<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="login-nav">

  <a class="navbar-brand" href="#" id="younglings">younglings</a>

  <div id="line"></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav-btn">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav-btn">FEATURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav-btn">PAGES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav-btn">PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav-btn">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav-btn">SHOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="nav-btn">SHORTCODES</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div id="line"></div>

      <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>

    </form>
  </div>
</nav>
